.sf-menu li.leaf, .sf-menu li.expanded, .sf-menu li.collapsed{
    padding: 0;
    margin: 0;
    list-style: none;
    list-style-image: none;
    list-style-type: none;
}


/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.sf-menu {
	line-height:	1.0;
	margin-right: 10px;
}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			14em; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
	width:			100%;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
}
.sf-menu a {
	display:		block;
	position:		relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			-34px;
	top:			75px; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			14em; /* match ul width */
	top:			0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}

/*** DEMO SKIN ***/
.sf-menu {
	float:			left;
}
.sf-menu a {
    padding:28px 10px 28px 10px;
    display:block;
    margin-right:10px;
    background-color: transparent;
    text-transform:uppercase;
    cursor:pointer;
    color: #444;
}
.sf-menu li ul li a{
    text-transform:none;
    padding:5px 9px;
    display:block;  
    font-weight: normal;
}

.sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color:			#555;
}

.sf-menu li ul{
    border-top: 1px solid;
    padding: 0;
    -webkit-box-shadow: 0px 2px 3px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    0px 2px 3px rgba(50, 50, 50, 0.3);
    box-shadow:         0px 2px 3px rgba(50, 50, 50, 0.3);
    border-top: 1px solid;
    border-bottom-left-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
}

.sf-menu li ul li:last-child {
    border-bottom: none;
    border-bottom-left-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
}

.sf-menu li ul li:last-child a:hover{
    border-bottom: none;
    border-bottom-left-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;    
}

.sf-menu li {
	/* background:		#BDD2FF; */
}
.sf-menu li li {
	 background:		#fafafa; 
	 border-bottom: 1px solid #ebebeb;
}
.sf-menu li li li {
	background:		#fafafa; 
}
.sf-menu ul li:hover, .sf-menu ul li.sfHover,
.sf-menu ul a:focus, .sf-menu ul a:hover, ul .sf-menu ul a:active {
	background:		#f2f2f2;
	outline:		0;
}

/*** arrows **/
.sf-menu a.sf-with-ul {
    padding-right: 11px;
    margin-right:16px;
    background: url(../images/arrow_down.png) right center no-repeat;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}

.sf-menu  ul a.sf-with-ul{
    background: url(../images/arrow_right.png) right center no-repeat;
}

.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			.75em;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:			.8em;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-menu ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}


/*
 * sticky nav
 */
#StickyMainMenu{
    float: right;
}

#StickyMainMenu .sf-menu a{
    padding: 8px 10px;
}


#StickyMainMenu .sf-menu li:hover ul,
#StickyMainMenu .sf-menu li.sfHover ul {
    left:           -34px;
    top:            46px; /* match top ul list item height */
    z-index:        99;
    opacity: .88;
    border-top: none;
}