/*
 * Put all your css customization codes here so that you can easily update version later
 */
.node-article .links {
	margin: 40px 0px 10px 0px;
	text-align: left;
}

.node-article img,
.node-session img {
	padding:2px;
	border:1px solid #cdcdcd;
	margin-right:10px;
	margin-bottom:0;
	float:left;
}

.sf-menu a {
	padding:28px 5px;
}

.node-session .links {
	text-align:left;
}

.field-name-field-session-expert {
	font-size:1.4em;
	clear: left;
	margin-bottom:15px;
}

li.session_question_field_session_reference a,
li.contest_submit_field_contest_reference a,
.view-animal-videos h6 a,
.view-services-location-map h6 a {
	font-size:14px;
	padding:3px;
	border:1px solid #ccc;
}

.contextual-links-region ul.links li a,
#contentArea ul.links li a {
	font-size: 14px;
	padding:3px;
	border:1px solid #ccc;
}

h6 {
	margin:0 0 20px 0;
}

.messagebar {
	width:70%;
}

.block-fblikebutton .content,
#block-views-listing-of-sessions-block-1 .content,
.node-type-contest-announce .block .content,
.node-type-session .block .content {
	padding:0;
}

.node-contest-announce,
.node-session {
	padding-bottom:0px;
}

.block-fblikebutton iframe {
	height:25px;
}

.field-name-field-addthis {
	margin-bottom:15px;
}

.first-name {
	float:left;
	margin-right:5px;
	font-weight:bold;
}

.second-name {
	font-weight:bold;
}

div.terms {
	line-height:2.5em;
}